<%= form_tag(formers_path, :method => "get") do %>
    <div class="container-fluid">
      <div class="row-fluid" >
        <div class="span3">
          Nome:
        </div>
        <div class="span3 row-form">
          <input type="text" id="name" name="name" />
        </div>
      </div>
    </div>
    <%= button_tag("Consultar") %>

<% end %>


<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Aniversário</th>
    <th>CPF</th>
    <th>Telefone</th>
    <th></th>
    <th></th>
  </tr>

  <% @formers.each do |former| %>
      <tr>
        <td><%= former.profile.name %></td>
        <td><%= l former.profile.birthday %></td>
        <td><%= former.profile.cpf %></td>
        <td><%= former.profile.phone %></td>
        <td><%= link_to "Detalhar", former_path(former) %></td>
        <td><%= link_to "Apagar", former_path(former), :data => { :confirm => "Você tem certeza?" }, :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Novo Ex-Morador', new_former_path %>