<p>
  <b>Nome:</b>
  <%= @former.profile.name %>
</p>
<p>
  <b>Aniversário:</b>
  <%= @former.profile.birthday %>
</p>
<p>
  <b>CPF:</b>
  <%= @former.profile.cpf %>
</p>
<p>
  <b>Faculdade:</b>
  <%= @former.profile.college %>
</p>
<p>
  <b>Curso:</b>
  <%= @former.profile.course %>
</p>
<p>
  <b>Ano de Ingresso:</b>
  <%= @former.profile.admission %>
</p>
<p>
  <b>Cidade Natal:</b>
  <%= @former.profile.hometown %>
</p>
<p>
  <b>Descrição:</b>
  <%= @former.profile.bio %>
</p>
<p>
  <b>Telefone:</b>
  <%= @former.profile.phone %>
</p>
<p>
  <b>Endereço:</b>
  <%= @former.profile.address %>
</p>

<%= link_to 'Editar', edit_former_path(@former) %> |
<%= link_to 'Voltar', formers_path %>