<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Address:</b>
  <%= @employee.address %>
</p>

<p>
  <b>Birth date:</b>
  <%= @employee.birth_date %>
</p>

<p>
  <b>Work card:</b>
  <%= @employee.work_card %>
</p>

<p>
  <b>Functions:</b>
  <%= @employee.functions %>
</p>

<p>
  <b>Register:</b>
  <%= @employee.register %>
</p>

<p>
  <b>Experience:</b>
  <%= @employee.experience %>
</p>

<p>
  <b>Admission date:</b>
  <%= @employee.admission_date %>
</p>

<p>
  <b>Salary:</b>
  <%= @employee.salary %>
</p>

<p>
  <b>Photo:</b>
  <%= @employee.photo %>
</p>

<p>
  <b>About:</b>
  <%= @employee.about %>
</p>

<p>
  <b>Phone:</b>
  <%= @employee.phone %>
</p>

<p>
  <b>Demission date:</b>
  <%= @employee.demission_date %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
