<p>
  <b>Nome:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Endereço:</b>
  <%= @employee.address %>
</p>

<p>
  <b>Carteira de Trabalho:</b>
  <%= @employee.work_card %>
</p>

<p>
  <b>CPF:</b>
  <%= @employee.register %>
</p>

<p>
  <b>Data de Admissão:</b>
  <%= l @employee.admission_date %>
</p>

<p>
  <b>Salário:</b>
  <%= @employee.salary %>
</p>

<p>
  <b>Telefone:</b>
  <%= @employee.phone %>
</p>

<p>
  <b>Data de Demissão:</b>
  <%= l @employee.demission_date if @employee.demission_date %>
</p>


<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Voltar', employees_path %>