<%= form_tag(admins_path, :method => "get") do %>
    <div class="container-fluid">
      <div class="row-fluid" >
        <div class="span3">
          Nome:
        </div>
        <div class="span3 row-form">
          <input type="text" id="name" name="name" />
        </div>
      </div>
    </div>
    <%= button_tag("Consultar") %>

<% end %>


<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Aniversário</th>
    <th>CPF</th>
    <th>Telefone</th>
    <th></th>
    <th></th>
  </tr>

  <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.profile.name %></td>
        <td><%= admin.profile.birthday %></td>
        <td><%= admin.profile.cpf %></td>
        <td><%= admin.profile.phone %></td>
        <td><%= link_to "Detalhar", admin_path(admin) %></td>
        <td><%= link_to "Apagar", admin_path(admin), :data => { :confirm => "Você tem certeza?" }, :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Novo Admin', new_admin_path %>