<p>
  <b>Nome:</b>
  <%= @admin.profile.name %>
</p>
<p>
  <b>Aniversário:</b>
  <%= l @admin.profile.birthday %>
</p>
<p>
  <b>CPF:</b>
  <%= @admin.profile.cpf %>
</p>
<p>
  <b>Faculdade:</b>
  <%= @admin.profile.college %>
</p>
<p>
  <b>Curso:</b>
  <%= @admin.profile.course %>
</p>
<p>
  <b>Ano de Ingresso:</b>
  <%= l @admin.profile.admission if @admin.profile.admission %>
</p>
<p>
  <b>Cidade Natal:</b>
  <%= @admin.profile.hometown %>
</p>
<p>
  <b>Descrição:</b>
  <%= @admin.profile.bio %>
</p>
<p>
  <b>Telefone:</b>
  <%= @admin.profile.phone %>
</p>
<p>
  <b>Endereço:</b>
  <%= @admin.profile.address %>
</p>

<%= link_to 'Editar', edit_admin_path(@admin) %> |
<%= link_to 'Voltar', admins_path %>