<p>
  <b>Name:</b>
  <%= @personal_bill.name %>
</p>

<p>
  <b>Description:</b>
  <%= @personal_bill.description %>
</p>

<p>
  <b>Value:</b>
  <%= @personal_bill.value %>
</p>

<p>
  <b>Payment date:</b>
  <%= @personal_bill.payment_date %>
</p>


<%= link_to 'Edit', edit_personal_bill_path(@personal_bill) %> |
<%= link_to 'Back', personal_bills_path %>