<p>
  <b>Nome:</b>
  <%= @event.name %>
</p>

<p>
  <b>Capacidade:</b>
  <%= @event.capacity %>
</p>

<p>
  <b>Lucro:</b>
  <%= @event.profit %>
</p>

<p>
  <b>Data:</b>
  <%= @event.event_date %>
</p>


<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Voltar', events_path %>