<p>
  <b>Descrição:</b>
  <%= @bill.description %>
</p>

<p>
  <b>Tipo:</b>
  <%= @bill.kind %>
</p>

<p>
  <b>Valor:</b>
  <%= @bill.value %>
</p>

<p>
  <b>Data de Vencimento:</b>
  <%= @bill.expiration_date %>
</p>

<p>
  <b>Data de Pagamento:</b>
  <%= @bill.payment_date %>
</p>

<p>
  <b>Multa:</b>
  <%= @bill.penalty %>
</p>

<p>
  <b>Juros:</b>
  <%= @bill.interest %>
</p>


<%= link_to 'Editar', edit_bill_path(@bill) %> |
<%= link_to 'Voltar', bills_path %>