<p>
  <b>Nome:</b>
  <%= @animal.name %>
</p>

<p>
  <b>Espécie:</b>
  <%= @animal.species %>
</p>

<p>
  <b>Raça:</b>
  <%= @animal.race %>
</p>

<p>
  <b>Data de Nascimento:</b>
  <%= @animal.birth_date %>
</p>


<%= link_to 'Editar', edit_animal_path(@animal) %> |
<%= link_to 'Voltar', animals_path %>