<p>
  <b>Nome:</b>
  <%= @book.name %>
</p>

<p>
  <b>Autor:</b>
  <%= @book.author %>
</p>

<p>
  <b>Edição:</b>
  <%= @book.edition %>
</p>


<%= link_to 'Editar', edit_book_path(@book) %> |
<%= link_to 'Voltar', books_path %>