<%= form_tag(formers_path, :method => "get") do %>
    <div class="container-fluid">
      <div class="row-fluid" >
        <div class="span3">
          Nome:
        </div>
        <div class="span3 row-form">
          <input type="text" id="name" name="name" />
        </div>
      </div>
    </div>
    <%= button_tag("Consultar") %>

<% end %>


<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Aniversário</th>
    <th>CPF</th>
    <th>Telefone</th>
    <th></th>
    <th></th>
  </tr>


  <% @aggregates.each do |aggregate| %>
      <tr>
        <td><%= aggregate.profile.name %></td>
        <td><%= l aggregate.profile.birthday %></td>
        <td><%= aggregate.profile.cpf %></td>
        <td><%= aggregate.profile.phone %></td>
        <td><%= link_to "Detalhar", aggregate_path(aggregate) %></td>
        <td><%= link_to "Apagar", aggregate_path(aggregate), :data => { :confirm => "Você tem certeza?" }, :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Novo Agregado', new_aggregate_path %>