<p>No mes desta data <%=l Date.today %> foram pagas <%= @bills.count %> contas distintas. Sao elas: </p>
<br>
<% @bills.each do |bill| %>
    <%= bill.description %> - Vencimento: <%=l bill.expiration_date %> - Valor: R$<%= bill.value %>.
    <br>
<% end %>
<br>
<p>Os gastos totais foram de R$<%= @total %></p>