<p>
  <b>Item:</b>
  <%= @restitution.item %>
</p>

<p>
  <b>Data do Reparo:</b>
  <%= @restitution.date %>
</p>

<p>
  <b>Problema:</b>
  <%= @restitution.problem %>
</p>

<p>
  <b>Solução:</b>
  <%= @restitution.solution %>
</p>

<p>
  <b>Valor:</b>
  <%= @restitution.value %>
</p>


<%= link_to 'Editar', edit_restitution_path(@restitution) %> |
<%= link_to 'Voltar', restitutions_path %>