<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :realization_date %><br />
    <%= f.text_field :realization_date %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :dweller %><br />
    <%= f.text_field :dweller %>
  </div>
  <div class="field">
    <%= f.label :payment_date %><br />
    <%= f.text_field :payment_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>