<p>
  <b>Data do empréstimo:</b>
  <%= @loan.realization_date %>
</p>

<p>
  <b>Valor:</b>
  <%= @loan.value %>
</p>

<p>
  <b>Devedor:</b>
  <%= @loan.dweller %>
</p>

<p>
  <b>Data do pagamento:</b>
  <%= @loan.payment_date %>
</p>


<%= link_to 'Editar', edit_loan_path(@loan) %> |
<%= link_to 'Voltar', loans_path %>