<p>
  <b>Name:</b>
  <%= @resident.profile.name %>
</p>
<p>
  <b>Aniversário:</b>
  <%= @resident.profile.birthday %>
</p>
<p>
  <b>CPF:</b>
  <%= @resident.profile.cpf %>
</p>
<p>
  <b>Faculdade:</b>
  <%= @resident.profile.college %>
</p>
<p>
  <b>Curso:</b>
  <%= @resident.profile.course %>
</p>
<p>
  <b>Ano de Ingresso:</b>
  <%= @resident.profile.admission %>
</p>
<p>
  <b>Cidade Natal:</b>
  <%= @resident.profile.hometown %>
</p>
<p>
  <b>Descrição:</b>
  <%= @resident.profile.bio %>
</p>
<p>
  <b>Telefone:</b>
  <%= @resident.profile.phone %>
</p>
<p>
  <b>Endereço:</b>
  <%= @resident.profile.address %>
</p>